.flex-box {
  display: flex;
  border: 1px solid;
  padding: 10px;
  /* min-height: 100px; */
  flex-direction: row;
  flex-wrap: wrap;
}


.flex-child {
  border: 2px solid;
  height: 100px;
  width: 100px;
  margin: 10px;
}